@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300&display=swap");
body {
  margin: 0;
}
.pic {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("images/burger.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10%;
  border: 2px solid #fff;
}
.heading h1 {
  margin: 0;
  color: #fff;
  font-size: 4rem;
  text-align: center;
}
.intro {
  text-align: center;
  padding: 100px 0;
  margin: 50px;
  border-bottom: 1px solid black;
}
.intro-sec {
  margin-bottom: 20px;
}

.intro h3 {
  font-size: 3rem;
  margin-bottom: 90px;
}
.intro img {
  width: 150px;
  margin-bottom: 20px;
}
p {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

/* Menu Section */
.menu {
  padding: 40px 0 100px 0;
  margin: 50px;
  border-bottom: 1px solid black;
  text-align: center;
}
.menu-icon {
  font-size: 4rem;
  padding: 20px;
}
.menu h3 {
  font-size: 3rem;
  margin-bottom: 60px;
}
.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.8s;
}
.card img {
  transition: 0.8s;
}

.card img:hover {
  transform: translateY(-15px);
  filter: blur(0.5px);
}
.card-container p {
  padding: 20px;
}
/* order */

.order {
  text-align: center;
  padding: 70px 0 100px 0;
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.order h3 {
  font-size: 3rem;
}
.order p {
  font-size: 1.3rem;
  margin-top: 20px;
  padding: 10px;
}
#burgerName {
  margin: 10px;
  padding: 10px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #4caf50;
  color: #4caf50;
  cursor: pointer;
  transition: 0.4s;
}
.button:hover {
  background-color: #4caf50;
  color: #fff;
}

/* footer */

#footer {
  padding: 7% 25%;
  font-size: 1rem;
  text-align: center;
  background-color: #1f1f1f;
  color: #fff;
}

#footer p {
  font-size: 12px;
}
.footer-icon {
  color: #ff4c68;
}
.footer-icon:hover {
  font-size: 14px;
}
.social-icon {
  padding: 8px;
  margin-bottom: 10px;
}
.social-icon:hover {
  color: #ff4c68;
  cursor: pointer;
}
